node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
/.cache/
API-Gateway/code/code/client/build/
API-Gateway/code/code/client/node_modules/
API-Gateway/code/code/client/.cache/
.env
.DS_Store
.vscode/
.idea/
Thumbs.db